extends layout

block content
	script.
		window.onload = function test()
		{
			if ("#{err}" != "")
				alert("#{err}");
			document.getElementById("inputUserNameUpdate").value = "#{updatedusername}";

			document.getElementById("inputUserName").value = "#{reusername}";
			document.getElementById("inputPin").value = "#{repin}";
			//skipping poke name because that's the only thing that fails
			document.getElementById("description").innerHTML = "#{redesc}";
			//document.getElementById("primtypingin").value = "#{reprim}";

			var dropdownMenu = document.getElementById("primtypingin");
			var findThis = "#{reprim}";
			for (var i = 0, j = dropdownMenu.options.length; i < j; i++)
			{
				if (dropdownMenu.options[i].innerHTML == findThis)
				{
					dropdownMenu.selectedIndex = i;
					break;
				}
			}

			var secMenu = document.getElementById("sectypingin");
			var findsec = "#{resec}";
			for (var i = 0, j = secMenu.options.length; i < j; i++)
			{
				if (secMenu.options[i].innerHTML == findsec)
				{
					secMenu.selectedIndex = i;
					break;
				}
			}

			document.getElementById("inputAbility1").value = "#{reab1}";
			document.getElementById("inputAbility2").value = "#{reab2}";
			document.getElementById("inputAbility3").value = "#{reab3}";

			document.getElementById("inputHP").value = "#{rehp}";
			document.getElementById("inputAtk").value = "#{reatk}";
			document.getElementById("inputDef").value = "#{redef}";
			document.getElementById("inputSpA").value = "#{respa}";
			document.getElementById("inputSpD").value = "#{respd}";
			document.getElementById("inputSpe").value = "#{respe}";

		}

	h1 OCAP
	p Welcome to a nonsuck CAP
	ul
		//- each auth, i in ocap.reverse()
		//-  	li
		//-  		p= auth.author.username
		- for (var i = last5users.length-5; i < last5users.length; i++)
			li
				p= last5users[i].author.username
				


	
	table
		tr
			td
				div.column#leftcol
					h3 Add new
					form#pasta
						input#pasta2(type="text" placeholde="Mon to update" name="whichmon")
						button#pasta3(type="submit") Fetch

					form#formSubmitMon(name="submitpoke", method="post", action="/submitpoke")

						p Username / Author
						input#inputUserName(type="text", placeholder="Your username", name="username")

						p Pin
						input#inputPin(type="text", placeholder="Your pin (not secure)", name="pin")

						p Mon Name
						input#inputName(type="text" placeholder="name" name="name")

						p Description
						textarea#description(name="desc" rows="10" cols="30")

						p Primay Typing
						select#primtypingin(name="primtypingin")
							option#Fairy1.Fairy(value="Fairy" name="Fairy1") Fairy
							option#Water1.Water(value="Water" name="Water1") Water
							option#Fire1.Fire(value="Fire" name="Fire1") Fire

						p Secondary Typing
						select#sectypingin(name="sectypingin")
							option#Fairy2.Fairy(value="Fairy" name="Fairy2") Fairy
							option#Water2.Water(value="Water" name="Water2") Water

						p Abilities
						input#inputAbility1(type="text", placeholder="Ability 1", name="ab1")
						br
						input#inputAbility2(type="text", placeholder="Ability 2", name="ab2")
						br
						input#inputAbility3(type="text", placeholder="Ability 3", name="ab3")
						p Stats
						input#inputHP(type="text", placeholder="Base HP", name="HP")
						br
						input#inputAtk(type="text", placeholder="Base Atk", name="Atk")
						br
						input#inputDef(type="text", placeholder="Base Def", name="Def")
						br
						input#inputSpA(type="text", placeholder="Base SpA", name="SpA")
						br
						input#inputSpD(type="text", placeholder="Base SpD", name="SpD")
						br
						input#inputSpe(type="text", placeholder="Base Spe", name="Spe")
						p Movepool
						textarea#movepool(name="movepool" rows="10" cols="30")
						p Evolution Line
						input#inputPrevo(type="text" placeholder="prevo" name="prevo")
						br
						input#inputEvo(type="text" placeholder="evo" name="evo")
						p Flavor
						textarea#flavor(name="flavor" rows="10" cols="30")
						br
						br
						button#btnSubmit(type="submit") Submit
			td
				div.column#rightcol
					h3 Update by Mon Name
					//- select
					//- 	each auth, i in ocap
					//- 		option= auth.submission.name
					form#fetchUpdate(name="fetchmons" method="post" action="/fetchmon")
						input#inputWhichMon(type="text" placeholde="Mon to update" name="whichmon")
						button#fetchMon(type="submit") Fetch
					form#formUpdateMon(name="updatepoke", method="post", action="/updatepoke")
						p Username
						input#inputUserNameUpdate(type="text", placeholder="Your username", name="usernameupdate")
						p Pin
						input#inputPinUpdate(type="text", placeholder="Your pin (not secure)", name="pinupdate")
						p Update Mon Name
						input#upName(type="text" placeholder="update name" name="upname")
						p Description
						textarea#descriptionUpdate(name="descupdate" rows="10" cols="30")
						p Primay Typing
						input#Fairy1-1(type="radio", name="typing1-1")
						label(for="Fairy1-1") Fairy
						input#Water1-1(type="radio", name="typing1-1")
						label(for="Water1-1") Water
						//-deal with this later
						p Secondary Typing
						input#Fairy2-1(type="radio", name="typing2-1")
						label(for="Fairy2-1") Fairy
						p Abilities
						input#updateAbility1(type="text", placeholder="Ability 1", name="upab1")
						br
						input#updateAbility2(type="text", placeholder="Ability 2", name="upab2")
						br
						input#updateAbility3(type="text", placeholder="Ability 3", name="upab3")
						p Stats
						input#upHP(type="text", placeholder="Base HP", name="upHP")
						br
						input#upAtk(type="text", placeholder="Base Atk", name="upAtk")
						br
						input#upDef(type="text", placeholder="Base Def", name="upDef")
						br
						input#upSpA(type="text", placeholder="Base SpA", name="upSpA")
						br
						input#upSpD(type="text", placeholder="Base SpD", name="upSpD")
						br
						input#upSpe(type="text", placeholder="Base Spe", name="upSpe")
						p Movepool
						textarea#upmovepool(name="upmovepool" rows="10" cols="30")
						p Evolution Line
						input#upPrevo(type="text" placeholder="prevo" name="upprevo")
						br
						input#upEvo(type="text" placeholder="evo" name="upevo")
						p Flavor
						textarea#upflavor(name="upflavor" rows="10" cols="30")
						br
						br
						button#btnSubmit(type="submit") Submit
