extends layout

block content

	script.
		window.onload = function test()
		{
			
			
			if ("#{err}" != "")
				alert("#{err}");



			document.getElementById("inputUserName").value = "#{reusername}";
			document.getElementById("inputPin").value = "#{repin}";
			//skipping poke name because that's the only thing that fails
			document.getElementById("description").innerHTML = "#{redesc}";
			//document.getElementById("primtypingin").value = "#{reprim}";

			var dropdownMenu = document.getElementById("primtypingin");
			var findThis = "#{reprim}";
			for (var i = 0, j = dropdownMenu.options.length; i < j; i++)
			{
				if (dropdownMenu.options[i].innerHTML == findThis)
				{
					dropdownMenu.selectedIndex = i;
					break;
				}
			}

			var secMenu = document.getElementById("sectypingin");
			var findsec = "#{resec}";
			for (var i = 0, j = secMenu.options.length; i < j; i++)
			{
				if (secMenu.options[i].innerHTML == findsec)
				{
					secMenu.selectedIndex = i;
					break;
				}
			}

			document.getElementById("inputAbility1").value = "#{reab1}";
			document.getElementById("inputAbility2").value = "#{reab2}";
			document.getElementById("inputAbility3").value = "#{reab3}";

			document.getElementById("inputHP").value = "#{rehp}";
			document.getElementById("inputAtk").value = "#{reatk}";
			document.getElementById("inputDef").value = "#{redef}";
			document.getElementById("inputSpA").value = "#{respa}";
			document.getElementById("inputSpD").value = "#{respd}";
			document.getElementById("inputSpe").value = "#{respe}";

			document.getElementById("movepool").value = "#{removepool}";

			document.getElementById("inputPrevo").value = "#{reprevo}";
			document.getElementById("inputEvo").value = "#{reevo}";
			document.getElementById("flavor").value = "#{reflavor}";


			//fetching stuff here
			document.getElementById("inputUserNameUpdate").value = "#{fetchedusername}";
			document.getElementById("upName").value = "#{fetchedMonName}";
			document.getElementById("descriptionUpdate").value = "#{fetchedDesc}";
			//do typing 

			var upMenu = document.getElementById("upprimtyping");
			var upFind = "#{fetchedPrim}";
			for (var i = 0, j = upMenu.options.length; i < j; i++)
			{
				if (upMenu.options[i].innerHTML == upFind)
				{
					upMenu.selectedIndex = i;
					break;
				}
			}

			var upsecMenu = document.getElementById("upsectyping");
			var upfindsec = "#{fetchedSec}";
			for (var i = 0, j = upsecMenu.options.length; i < j; i++)
			{
				if (upsecMenu.options[i].innerHTML == upfindsec)
				{
					upsecMenu.selectedIndex = i;
					break;
				}
			}

			document.getElementById("updateAbility1").value = "#{fetchedAb1}";
			document.getElementById("updateAbility2").value = "#{fetchedAb2}";
			document.getElementById("updateAbility3").value = "#{fetchedAb3}";

			document.getElementById("upHP").value = "#{fetchedHP}";
			document.getElementById("upAtk").value = "#{fetchedAtk}";
			document.getElementById("upDef").value = "#{fetchedDef}";
			document.getElementById("upSpA").value = "#{fetchedSpA}";
			document.getElementById("upSpD").value = "#{fetchedSpD}";
			document.getElementById("upSpe").value = "#{fetchedSpe}";

			document.getElementById("upmovepool").value = "#{fetchedMovepool}";

			document.getElementById("upPrevo").value = "#{fetchedPrevo}";
			document.getElementById("upEvo").value = "#{fetchedEvo}";
			document.getElementById("upflavor").value = "#{fetchedFlavor}";



		}

	h1 OCAP
	p Welcome to a nonsuck CAP
	ul
		//- each auth, i in ocap.reverse()
		//-  	li
		//-  		p= auth.author.username
		- for (var i = last5users.length-5; i < last5users.length; i++)
			li
				p= i + ": " + last5users[i].author.username
				


	
	table
		tr
			td
				div.column#leftcol
					h3 Add new
					form#pasta
						input#pasta2(type="text" placeholde="Mon to update" name="whichmon")
						button#pasta3(type="submit") Fetch

					form#formSubmitMon(name="submitpoke", method="post", action="/submitpoke")

						p Username / Author
						input#inputUserName(type="text", placeholder="Your username", name="username")

						p Pin
						input#inputPin(type="text", placeholder="Your pin (not secure)", name="pin")

						p Mon Name
						input#inputName(type="text" placeholder="name" name="name")

						p Description
						textarea#description(name="desc" rows="10" cols="30")

						p Primay Typing
						select#primtypingin(name="primtypingin")
							option.Type#Normal1.Normal(value="Normal" name="Normal1") Normal
							option.Type#Fire1.Fire(value="Fire" name="Fire1") Fire
							option.Type#Water1.Water(value="Water" name="Water1") Water
							option.Type#Electric1.Electric(value="Electric" name="Electric1") Electric
							option.Type#Grass1.Grass(value="Grass" name="Grass1") Grass
							option.Type#Ice1.Ice(value="Ice" name="Ice1") Ice
							option.Type#Fighting1.Fighting(value="Fighting" name="Fighting1") Fighting
							option.Type#Poison1.Poison(value="Poison" name="Poison1") Poison
							option.Type#Ground1.Ground(value="Ground" name="Ground1") Ground
							option.Type#Flying1.Flying(value="Flying" name="Flying1") Flying
							option.Type#Psychic1.Psychic(value="Psychic" name="Psychic1") Psychic
							option.Type#Bug1.Bug(value="Bug" name="Bug1") Bug
							option.Type#Rock1.Rock(value="Rock" name="Rock1") Rock
							option.Type#Ghost1.Ghost(value="Ghost" name="Ghost1") Ghost
							option.Type#Dragon1.Dragon(value="Dragon" name="Dragon1") Dragon
							option.Type#Steel1.Steel(value="Steel" name="Steel1") Steel
							option.Type#Dark1.Dark(value="Dark" name="Dark1") Dark
							option.Type#Fairy1.Fairy(value="Fairy" name="Fairy1") Fairy
							
						p Secondary Typing
						select#sectypingin(name="sectypingin")
							option.Type#blank2.blankTyping(value = "" name="blanktyping") None
							option.Type#Normal2.Normal(value="Normal" name="Normal2") Normal
							option.Type#Fire2.Fire(value="Fire" name="Fire2") Fire
							option.Type#Water2.Water(value="Water" name="Water2") Water
							option.Type#Electric2.Electric(value="Electric" name="Electric2") Electric
							option.Type#Grass2.Grass(value="Grass" name="Grass2") Grass
							option.Type#Ice2.Ice(value="Ice" name="Ice2") Ice
							option.Type#Fighting2.Fighting(value="Fighting" name="Fighting2") Fighting
							option.Type#Poison2.Poison(value="Poison" name="Poison2") Poison
							option.Type#Ground2.Ground(value="Ground" name="Ground2") Ground
							option.Type#Flying2.Flying(value="Flying" name="Flying2") Flying
							option.Type#Psychic2.Psychic(value="Psychic" name="Psychic2") Psychic
							option.Type#Bug2.Bug(value="Bug" name="Bug2") Bug
							option.Type#Rock2.Rock(value="Rock" name="Rock2") Rock
							option.Type#Ghost2.Ghost(value="Ghost" name="Ghost2") Ghost
							option.Type#Dragon2.Dragon(value="Dragon" name="Dragon2") Dragon
							option.Type#Steel2.Steel(value="Steel" name="Steel2") Steel
							option.Type#Dark2.Dark(value="Dark" name="Dark2") Dark
							option.Type#Fairy2.Fairy(value="Fairy" name="Fairy2") Fairy

						p Abilities
						input#inputAbility1(type="text", placeholder="Ability 1", name="ab1")
						br
						input#inputAbility2(type="text", placeholder="Ability 2", name="ab2")
						br
						input#inputAbility3(type="text", placeholder="Ability 3", name="ab3")
						p Stats
						input#inputHP(type="text", placeholder="Base HP", name="HP")
						br
						input#inputAtk(type="text", placeholder="Base Atk", name="Atk")
						br
						input#inputDef(type="text", placeholder="Base Def", name="Def")
						br
						input#inputSpA(type="text", placeholder="Base SpA", name="SpA")
						br
						input#inputSpD(type="text", placeholder="Base SpD", name="SpD")
						br
						input#inputSpe(type="text", placeholder="Base Spe", name="Spe")
						p Movepool
						textarea#movepool(name="movepool" rows="10" cols="30")
						p Evolution Line
						input#inputPrevo(type="text" placeholder="prevo" name="prevo")
						br
						input#inputEvo(type="text" placeholder="evo" name="evo")
						p Flavor
						textarea#flavor(name="flavor" rows="10" cols="30")
						br
						br
						button#btnSubmit(type="submit") Submit
			td
				div.column#rightcol
					h3 Update by Mon Name
					//- select
					//- 	each auth, i in ocap
					//- 		option= auth.submission.name
					form#fetchUpdate(name="fetchmons" method="post" action="/fetchmon")
						input#inputWhichMon(type="text" placeholde="Mon to update" name="whichmon")
						button#fetchMon(type="submit") Fetch
					form#formUpdateMon(name="updatepoke", method="post", action="/updatepoke")
						p Username
						input#inputUserNameUpdate(type="text", placeholder="Your username", name="usernameupdate")

						p Enter Pin
						input#inputPinUpdate(type="text", placeholder="Your pin (not secure)", name="pinupdate")

						p You are updating:
						input#upName(type="text" placeholder="update name" name="upname")

						p Description
						textarea#descriptionUpdate(name="descupdate" rows="10" cols="30")

						p Primay Typing
						select#upprimtyping(name="upprimtyping")
							option.Type#upNormal1.Normal(value="Normal" name="upNormal1") Normal
							option.Type#upFire1.Fire(value="Fire" name="upFire1") Fire
							option.Type#upWater1.Water(value="Water" name="upWater1") Water
							option.Type#upElectric1.Electric(value="Electric" name="upElectric1") Electric
							option.Type#upGrass1.Grass(value="Grass" name="upGrass1") Grass
							option.Type#upIce1.Ice(value="Ice" name="upIce1") Ice
							option.Type#upFighting1.Fighting(value="Fighting" name="upFighting1") Fighting
							option.Type#upPoison1.Poison(value="Poison" name="upPoison1") Poison
							option.Type#upGround1.Ground(value="Ground" name="upGround1") Ground
							option.Type#upFlying1.Flying(value="Flying" name="upFlying1") Flying
							option.Type#upPsychic1.Psychic(value="Psychic" name="upPsychic1") Psychic
							option.Type#upBug1.Bug(value="Bug" name="upBug1") Bug
							option.Type#upRock1.Rock(value="Rock" name="upRock1") Rock
							option.Type#upGhost1.Ghost(value="Ghost" name="upGhost1") Ghost
							option.Type#upDragon1.Dragon(value="Dragon" name="upDragon1") Dragon
							option.Type#upSteel1.Steel(value="Steel" name="upSteel1") Steel
							option.Type#upDark1.Dark(value="Dark" name="upDark1") Dark
							option.Type#upFairy1.Fairy(value="Fairy" name="upFairy1") Fairy

						p Secondary Typing
						select#upsectyping(name="upsectyping")
							option.Type#upblank2.blankTyping(value = "" name="upblanktyping") None
							option.Type#upNormal2.Normal(value="Normal" name="upNormal2") Normal
							option.Type#upFire2.Fire(value="Fire" name="upFire2") Fire
							option.Type#upWater2.Water(value="Water" name="upWater2") Water
							option.Type#upElectric2.Electric(value="Electric" name="upElectric2") Electric
							option.Type#upGrass2.Grass(value="Grass" name="upGrass2") Grass
							option.Type#upIce2.Ice(value="Ice" name="upIce2") Ice
							option.Type#upFighting2.Fighting(value="Fighting" name="upFighting2") Fighting
							option.Type#upPoison2.Poison(value="Poison" name="upPoison2") Poison
							option.Type#upGround2.Ground(value="Ground" name="upGround2") Ground
							option.Type#upFlying2.Flying(value="Flying" name="upFlying2") Flying
							option.Type#upPsychic2.Psychic(value="Psychic" name="upPsychic2") Psychic
							option.Type#upBug2.Bug(value="Bug" name="upBug2") Bug
							option.Type#upRock2.Rock(value="Rock" name="upRock2") Rock
							option.Type#upGhost2.Ghost(value="Ghost" name="upGhost2") Ghost
							option.Type#upDragon2.Dragon(value="Dragon" name="upDragon2") Dragon
							option.Type#upSteel2.Steel(value="Steel" name="upSteel2") Steel
							option.Type#upDark2.Dark(value="Dark" name="upDark2") Dark
							option.Type#upFairy2.Fairy(value="Fairy" name="upFairy2") Fairy

						p Abilities
						input#updateAbility1(type="text", placeholder="Ability 1", name="upab1")
						br
						input#updateAbility2(type="text", placeholder="Ability 2", name="upab2")
						br
						input#updateAbility3(type="text", placeholder="Ability 3", name="upab3")
						p Stats
						input#upHP(type="text", placeholder="Base HP", name="upHP")
						br
						input#upAtk(type="text", placeholder="Base Atk", name="upAtk")
						br
						input#upDef(type="text", placeholder="Base Def", name="upDef")
						br
						input#upSpA(type="text", placeholder="Base SpA", name="upSpA")
						br
						input#upSpD(type="text", placeholder="Base SpD", name="upSpD")
						br
						input#upSpe(type="text", placeholder="Base Spe", name="upSpe")
						p Movepool
						textarea#upmovepool(name="upmovepool" rows="10" cols="30")
						p Evolution Line
						input#upPrevo(type="text" placeholder="prevo" name="upprevo")
						br
						input#upEvo(type="text" placeholder="evo" name="upevo")
						p Flavor
						textarea#upflavor(name="upflavor" rows="10" cols="30")
						br
						br
						button#btnSubmit(type="submit") Submit
